body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
    color: white;
    padding: 30px 60px;
}

img {
    max-width: 500px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

a {
    text-decoration: none;
}

a, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.links {
    display: flex;
    gap: 32px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}
h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.header-content {
    display: flex;
    padding: 60px 40px;
}

button {
    color: #f9faf8;
    background-color: #3882F6;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 60px;
}

.icon {
    max-width: 150px;
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.icon-subtext {
    font-size: 18px;
    color: #1F2937;
    text-align: center;
    max-width: 155px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    padding: 80px 250px 0px 250px;
    margin: 0;
}

.credit {
    font-size: 24px;
    font-weight: 700;
    color: #1F2937;
    align-self: flex-end;
    padding: 0 250px 80px 0px;
    margin: 0;
}